<p>
  Sistemul iti va recomanda filme similare celui cautat!
</p>

<div class="row">
    <div class="col">
      <input
        #item
        type="text"
        (keydown)="onKeydown($event, item.value)"
        class="form-control"
        placeholder="Introdu numele filmului ..."
      />
    </div>
  </div>
<br><br><br>

  <div *ngIf="!loading">
    <h4>Filme recomandate:</h4>
    <hr>
    <div *ngFor="let item of recommendedMoviesArray">
      {{item}}
    </div>
  </div>

  <div *ngIf="sorry">
    <p>Momentan sistemul nu a gasit niciun film similar celui cautat</p>

    
  </div>
  <!-- <ngx-spinner></ngx-spinner> -->
