
<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="#" style="color:black;">
    <img src="assets/videocamera_3-512.png" width="30" height="30" alt=""  />
    MovieAnalysis
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="home" style="color:black;">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="search" style="color:black;">Search</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="genres" style="color:black;">Genres</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="reviews" style="color:black;">Reviews</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="recommendation" style="color:black;">Movie Recommendation</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!showLogOut">
        <a class="nav-link" routerLink="login" style="color:black;">Log In</a>
      </li>

      <li class="nav-item" routerLinkActive="active" *ngIf="showLogOut">
        <a class="nav-link" (click)="logOut()" style="cursor: pointer; color: black;" >Log Out</a>
      </li>



    </ul>
  </div>
</nav>
